<div>
    <h1>Arriesga</h1>
    @foreach(Char letra in @ViewBag.LetrasPalabra) {
        <p>@letra</p>
    }
</div>
<section>
    <form action='@Url.Action("ArriesgarLetra")' method="post" target="_blank">
        <p>
        Intereses:<br>
        <input type="text" name="letra" value="arriesga"> <br>
        </p>
    <p><input type="submit" value="Arriesgar letra"></p>
    </form>
</section>
